*{
    box-sizing: border-box;
}

body{
    padding: 0;
}

.header{
    background-color: #FFFFFF;
}

.header2{
    width: 100%;
    height: 538px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-fer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo2{
    width: 211px;
    height: 211px;
}

.soyfer{
    color: white;
}

.algointeresante{
    color: white;
    font-size: 23px;
}

.soyfer, .algointeresante{
    text-align: left;
}

.header__content{
    position: relative;
}

.bienvenidos{
    width: 313px;
    height: 96px;
    font-size: 48px;

}

.header__logo{
    width: 95px;
    height: 109px;
}

.header__imagen{
    position: absolute;
    top: 222px;
    right: 0;
    width: 435px;
    height: 395px;
}

.header__info{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 428px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    color: black
}

.section{
    width: 1440px;
    height: 616px;
}

.header3 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    height: auto;
    background-color: white;
}

.misservicios {
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 24px; 
}

.contenedor-cosas {
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
}

.logo-computadora{
    width: 138px;
    height: 138px;
}

.parrafo{
    margin-top: 10px;
    width: auto;
    text-align: center;
}


.cosas {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-bottom: 20px; 
    width: 30%; 
}

.hagocosas{
    margin-top: 10px;
}

.header4 {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    width: 100%;
    background-color: black; 
}

.formulario {
    display: flex; 
    flex-direction: column; 
    margin-left: auto; 
}

.escribime {
    margin-right: 20px;
    color: white; 
}

.nombre{
    width: 376px;
    height: 45px;
    color: white;
}

.email{
    width: 376px;
    height: 45px;
    color: white;
}

.mensaje{
    width: 378px;
    height: 113px;
    color: white;
}

.enviar{
    width: 376px;
    height: 45px;
    background-color: yellow;
}

.header5{
    width: 1440px;
    height: 346px;
    background-color: #DBDBDB;
}


